<div class="header-top">
    <div class="header-bottom">			
        <div class="logo">
            <h1><a href="principal.jsp">Administra&ccedil;&amacr;o</a></h1>
        </div>
        <div class="top-nav">
            <ul class="memenu skyblue"><li class="grid"><a href="admprincipal.jsp">Home</a></li>
                <li class="grid"><a href="./admprodutos.jsp">Produtos</a></li>
                <li class="grid"><a href="./admclientes.jsp">Clientes</a></li>
                <li class="grid"><a href="./usuarios">Sair</a></li>
            </ul>				
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>