
<div class="copywrite">
    <div class="container">
        <div class="copy">
            <p>	&#169; 2017 Diamante Cortinas. Todos os Direitos Reservados </p>
        </div>
        <div class="social">							
            <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>	
        </div>
        <div class="clearfix"></div>
    </div>
</div>