<head>
    <title>Diamante Cortinas, Acessórios e Persianas</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
          Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
 
    <!--logo-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
    
    <!--css-->
    <link  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
    <link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <link href="jquery/jquery-ui.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />


    <!--scripts-->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="jquery/jquery.js"></script>
    <script src="jquery/jquery-ui.min.js"></script>
    <script src="js/simpleCart.min.js"></script>
    <script src="js/scrollpane.min.js"></script>
    <script src="js/imagezoom.js"></script>
    <script src="js/jquery.flexisel.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function ()
        {
            $('.scroll-pane').jScrollPane();
        });
    </script>
    <script src="js/memenu.js" type="text/javascript"></script>
    <script>$(document).ready(function () {
            $(".memenu").memenu();
        });</script>	
</head>